{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Recommendatio</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <form action="{% url 'vrform' %}" method="POST" class="form-signin w-25 mx-auto">
            {% csrf_token %}
                <h2>Video Request</h2>
                <div class="form-group">
                    <label for="inputName">Video Title</label>
                    {{form.videoname}}
                </div>
                <div class="form-group">
                    <label for="details">Video Details</label>
                    {{form.videodesc}}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-block btn-success">Submit</button>
                </div>

            </form>
        </div>
    </div>
    
</body>

</html>