{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do Application</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="container">
        <div class="jumbotron m-1 ">
            <div class="card w-50 mx-auto text-center">
                <div class="card-head p-2 bg-primary">
                    <h1>TO-DO APP</h1>
                </div>
                <div class="card-body">
                   <form action="{% url 'add' %}" method="POST">
                    {% csrf_token %}

                        <div class="form-group">
                            <div class="input-group">
                                {{form.texttodo}}
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                   </form>
                   <a href="{% url 'delete' %}" class="btn btn-outline-success btn-block"> DELETE </a>
                    {% comment %} <input type="submit" class="btn btn-outline-success btn-block" value="Assignment"> {% endcomment %}
                    {% comment %} <input type="submit" class="btn btn-outline-danger btn-block" value="Assignment"> {% endcomment %}
                    <hr>
                    <div class="form-group text-left">
                        <ul class="list-group">
                        {% for l in mytodo %}
                            {% if l.complete %}
                                <li class="list-group-item todo-completed">{{ l.todotext  }}</li>
                            {% else %}
                                <a href="{% url 'complete' l.id %}" ><li class="list-group-item ">{{ l.todotext  }}</li></a>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        
                        
                        
                    </div>

                </div>
            </div>
        </div>

    </section>
</body>
</html>